<div style="text-align:center">
  <h1>{{title}}</h1>
</div>
<nav>
    <a routerLink="/signup" routerLinkActive="active">Sign up</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
</nav>
<router-outlet></router-outlet>

<form>
  <h1>Login</h1>
  <div>
    <p>Enter your Username</p>
    <p>
    <div>
      <label>Username: </label>
      <input [(ngModel)]="login.username" placeholder="Please enter your username"/>
    </div>
    </p>
  </div>
</form>



  <div>
    <label>ID: </label>
    {{login.id}}
  </div>

  <div>
    <label>Password: </label>
    <input [(ngModel)]="login.password" placeholder="Please enter your password."/>
  </div>
