<div style="text-align:center">
  <h1>{{title}}</h1>
</div>
<nav>
  <ul>
    <li>Sign up</li>
    <li>Login</li>
  </ul>
</nav>

<form>
  <h1>Login</h1>
  <div>
    <p>Enter your Username</p>
    <p>
    <div>
      <label>Username: </label>
      <input [(ngModel)]="login.username" placeholder="Please enter your username"/>
    </div>
    </p>
  </div>
</form>



  <div>
    <label>ID: </label>
    {{login.id}}
  </div>

  <div>
    <label>Password: </label>
    <input [(ngModel)]="login.password" placeholder="Please enter your password."/>
  </div>

